/.vs/Blockcore/FileContentIndex
/.vs/Blockcore/v17
/.vs
/Blockcore/bin
/Blockcore/obj
/Blockcore.Node.Client/bin/Debug/net6.0-windows
/Blockcore.Node.Client/obj
/External/Blockcore.Benchmark/bin/Debug/net6.0
/External/Blockcore.Benchmark/obj
/Features/Blockcore.Features.Diagnostic/bin
/Features/Blockcore.Features.Diagnostic/obj
/Features/Blockcore.Features.Dns/bin
/Features/Blockcore.Features.Dns/obj
/Features/Blockcore.Features.MemoryPool/bin
/Features/Blockcore.Features.MemoryPool/obj
/Features/Blockcore.Features.Miner/bin
/Features/Blockcore.Features.Miner/obj
/Features/Blockcore.Features.NodeHost/bin
/Features/Blockcore.Features.NodeHost/obj
/Features/Blockcore.Features.Notifications/bin
/Features/Blockcore.Features.Notifications/obj
/Features/Blockcore.Features.PoA/bin/Debug/net6.0
/Features/Blockcore.Features.PoA/obj
/Features/Blockcore.Features.RPC/bin
/Features/Blockcore.Features.RPC/obj
/Features/Blockcore.Features.Wallet/bin
/Features/Blockcore.Features.Wallet/obj
/Features/Blockcore.Features.WalletWatchOnly/bin
/Features/Blockcore.Features.WalletWatchOnly/obj
/Features/Persistence/Blockcore.Features.Base.Persistence.LevelDb/bin
/Features/Persistence/Blockcore.Features.Base.Persistence.LevelDb/obj
/Features/Persistence/Blockcore.Features.Base.Persistence.RocksDb/bin
/Features/Persistence/Blockcore.Features.Base.Persistence.RocksDb/obj
/Features/Persistence/Blockcore.Features.BlockStore.Persistence.LevelDb/bin
/Features/Persistence/Blockcore.Features.BlockStore.Persistence.LevelDb/obj
/Features/Persistence/Blockcore.Features.BlockStore.Persistence.RocksDb/bin
/Features/Persistence/Blockcore.Features.BlockStore.Persistence.RocksDb/obj
/Features/Persistence/Blockcore.Features.Consensus.Persistence.LevelDb/bin
/Features/Persistence/Blockcore.Features.Consensus.Persistence.LevelDb/obj
/Features/Persistence/Blockcore.Features.Consensus.Persistence.RocksDb/bin
/Features/Persistence/Blockcore.Features.Consensus.Persistence.RocksDb/obj
/Features/Persistence/Blockcore.Features.Persistence.LevelDb.CorePackage/bin
/Features/Persistence/Blockcore.Features.Persistence.LevelDb.CorePackage/obj
/Features/Persistence/Blockcore.Features.Persistence.Rocksdb.CorePackage/bin
/Features/Persistence/Blockcore.Features.Persistence.Rocksdb.CorePackage/obj
/Features/Persistence/Blockcore.Persistence.LevelDb/bin
/Features/Persistence/Blockcore.Persistence.LevelDb/obj
/Features/Persistence/Blockcore.Persistence.RocksDb/bin
/Features/Persistence/Blockcore.Persistence.RocksDb/obj
/Networks/Blockcore.Networks.BCP/bin
/Networks/Blockcore.Networks.BCP/obj
/Node/Blockcore.Node/bin
/Node/Blockcore.Node/obj
